<h5>Dashboard</h5>
<h1>Hello {{name}}</h1>
{{#if habits}}
    <table class="striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Frequency</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {{#each habits}}
                <tr>
                    <td><a href="/habits/{{_id}}">{{name}}</a></td>
                    <td>{{frequency}}</td>
                    <td>{{duration}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You don't have any habits set up</p>
{{/if}}